<section class="footer_one home1 home4">
  <div class="container pb90">
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-3 col-xl-2">
        <div class="footer_contact_widget home4">
          <h4>Contact Us</h4>
          <ul class="list-unstyled">
            <li class="df"><span class="flaticon-map mr15"></span><a href="#">Tsavo Building, Nairobi Embakasi,
                Kenya.</a></li>
            <li><span class="flaticon-phone mr15"></span><a href="#">+254706373252</a></li>
            <li><span class="flaticon-mail-inbox-app mr15"></span><a href="#">support@keja.com</a></li>
          </ul>
        </div>
        <div class="footer_social_widget home4 mt20">
          <ul class="mb0">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2">
        <div class="footer_qlink_widget home4">
          <h4>Discover</h4>
          <ul class="list-unstyled">
            <li><a href="#">Chicago</a></li>
            <li><a href="#">Los Angeles</a></li>
            <li><a href="#">Miami</a></li>
            <li><a href="#">New York</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
        <div class="footer_qlink_widget home4 pl0">
          <h4>Lists by Category</h4>
          <ul class="list-unstyled">
            <li><a href="#">Apartments</a></li>
            <li><a href="#">Condos</a></li>
            <li><a href="#">Houses</a></li>
            <li><a href="#">Offices</a></li>
            <li><a href="#">Retail</a></li>
            <li><a href="#">Villas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5 col-md-2 col-lg-2 col-xl-2">
        <div class="footer_qlink_widget home4 pl0">
          <h4>Quick Links</h4>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">User’s Guide</a></li>
            <li><a href="#">Support Center</a></li>
            <li><a href="#">Press Info</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7 col-md-6 col-lg-3 col-xl-4">
        <div class="footer_social_widget home4">
          <h4>Subscribe</h4>
          <p class="mb30">We don’t send spam so don’t worry.</p>
          <form class="footer_mailchimp_form home4">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <input type="email" class="form-control" id="inlineFormInput" placeholder="Enter your email">
                <button type="submit" class="flaticon-email"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container pt10 pb30">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="copyright-widget home4 mt10 mb15-767">
          <p>Copyright © 2022 Planet360. All Right Reserved.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="footer_logo_widget home4 text-center mb15-767">
          <div class="wrapper">
            <div class="logo text-center"> <img src="images/Keja.svg" height="80" width="80" alt="footer-logo2.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="footer_menu_widget home4 text-right tac-md mt15">
          <ul>
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Site Map</a></li>
            <li class="list-inline-item"><a href="#">Privacy policy</a></li>
            <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<a class="scrollToHome home4" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrapper End -->
<script src="js/jquery-3.6.0.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mmenu.all.js"></script>
<script src="js/ace-responsive-menu.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/isotop.js"></script>
<script src="js/snackbar.min.js"></script>
<script src="js/simplebar.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scrollto.js"></script>
<script src="js/jquery-scrolltofixed-min.js"></script>
<script src="js/jquery.counterup.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/progressbar.js"></script>
<script src="js/slider.js"></script>
<script src="js/pricing-slider.js"></script>
<script src="js/timepicker.js"></script>
<script src="js/wow.min.js"></script>
<!-- Custom script for all pages -->
<script src="js/script.js"></script>
</body>

<!-- Mirrored from creativelayers.net/themes/houzing-html/index4.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Jun 2022 15:47:54 GMT -->

</html>