<%- include('./includes/headers.ejs') %>
  <!-- Our Coming Soon Page -->
  <section class="our-coming-soon">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="error_page footer_apps_widget text-center">
            <img class="img-fluid" src="images/resource/coming-soon.png" alt="coming-soon.png">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="error_page footer_apps_widget">
            <div class="erro_code">
              <h1>We're coming soon.</h1>
            </div>
            <p>Our website is under construction. We'll be here soon with our new <br> awesome site, subscribe to be
              notified.</p>
            <div class="event_counter_plugin_container mt30 mb20">
              <div class="event_counter_plugin_content">
                <ul>
                  <li><span id="days"></span>
                    <div class="time_text">days</div>
                  </li>
                  <li><span id="hours"></span>
                    <div class="time_text">Hours</div>
                  </li>
                  <li><span id="minutes"></span>
                    <div class="time_text">Minutes</div>
                  </li>
                  <li><span id="seconds"></span>
                    <div class="time_text">Seconds</div>
                  </li>
                </ul>
              </div>
            </div>
            <form class="form-inline mailchimp_form">
              <label class="sr-only">Name</label>
              <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter your email">
              <button type="submit" class="btn btn-primary mb-2"><span class="flaticon-email"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Footer -->
  <%- include('./includes/footers.ejs') %>