<%- include('./includes/headers.ejs') %>
  <!-- Inner Page Breadcrumb -->
  <section class="inner_page_breadcrumb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="breadcrumb_content">
            <h2 class="breadcrumb_title">Compare Properties</h2>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Compare</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Service Section Area -->
  <section class="our-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="main-title text-center">
            <h2>Pricing Packages</h2>
            <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="compare_table table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <div class="membership_header">
                      <div class="thumb">
                        <a class="dn-991" href="#"><span class="flaticon-trash"></span></a>
                        <a class="dn-991 fet" href="#">FEATURED</a>
                        <img class="img-fluid w100" src="images/pricing/1.jpg" alt="1.jpg">
                      </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="membership_header">
                      <div class="thumb">
                        <a class="dn-991" href="#"><span class="flaticon-trash"></span></a>
                        <a class="dn-991 fet" href="#">FEATURED</a>
                        <img class="img-fluid w100" src="images/pricing/2.jpg" alt="2.jpg">
                      </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="membership_header">
                      <div class="thumb">
                        <a class="dn-991" href="#"><span class="flaticon-trash"></span></a>
                        <a class="dn-991 fet" href="#">FEATURED</a>
                        <img class="img-fluid w100" src="images/pricing/3.jpg" alt="3.jpg">
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="bgc-alice-blue pl30" scope="col">Title</th>
                  <th class="bgc-alice-blue" scope="col">Renovated Apartment</th>
                  <th class="bgc-alice-blue" scope="col">Luxury Family Home</th>
                  <th class="bgc-alice-blue" scope="col">Ample Penthouse</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="pl30" scope="row">Price</th>
                  <td>$876,000</td>
                  <td>$876,000</td>
                  <td>$876,000</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Property Type</th>
                  <td>Apartment</td>
                  <td>Apartment</td>
                  <td>Apartment</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Address</th>
                  <td>6701 South Dixie Highway, Miami, FL, USA</td>
                  <td>6701 South Dixie Highway, Miami, FL, USA</td>
                  <td>6701 South Dixie Highway, Miami, FL, USA</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">City</th>
                  <td>Miami</td>
                  <td>Miami</td>
                  <td>Miami</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">State/county</th>
                  <td>Florida</td>
                  <td>Florida</td>
                  <td>Florida</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Zip/Postal Code</th>
                  <td>33143</td>
                  <td>33143</td>
                  <td>33143</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Property Size</th>
                  <td>2541 sqft</td>
                  <td>1987 sqft</td>
                  <td>1987 sqft</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Property ID</th>
                  <td>HTE01</td>
                  <td>HTE01</td>
                  <td>HTE01</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Bedrooms</th>
                  <td>3</td>
                  <td>3</td>
                  <td>3</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Bathrooms </th>
                  <td>3</td>
                  <td>3</td>
                  <td>3</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Garage</th>
                  <td>3</td>
                  <td>3</td>
                  <td>3</td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Air Conditioning</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Barbeque</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Dryer</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Gym</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Laundry</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Lawn</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Microwave</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Outdoor Shower</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">Sauna</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
                <tr>
                  <th class="pl30" scope="row">TV Cable</th>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle" href="#"><span class="fa fa-check-circle"></span></a></td>
                  <td><a class="check_circle_close" href="#"><span class="fa fa-times-circle"></span></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Footer -->
  <%- include('./includes/footers.ejs') %>