<%- include('./includes/headers.ejs') %>

  <!-- Inner Page Breadcrumb -->
  <section class="inner_page_breadcrumb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="breadcrumb_content">
            <h2 class="breadcrumb_title">Faq</h2>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Faq</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our FAQ -->
  <section class="our-faq pb0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="main-title text-center">
            <h2>Question About Selling</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="faq_content mb40">
            <div class="faq_according">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header active" id="headingOne">
                    <h4 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">Contrary to popular belief, Lorem Ipsum is not
                        simply</button>
                    </h4>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h4 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Model sentence
                        structures, to generate</button>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h4 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Model sentence
                        structures, to generate</button>
                    </h4>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionExample" style="">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h4 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Finibus Bonorum
                        et Malorum by Cicero are also</button>
                    </h4>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample"
                    style="">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Letraset sheets
                        containing Lorem Ipsum passages</button>
                    </h2>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                    data-parent="#accordionExample2">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Can I pay my own
                        taxes and insurance?</button>
                    </h2>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample2">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our FAQ -->
  <section class="our-faq pt50">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="main-title text-center">
            <h2>Question About Renting</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="faq_content">
            <div class="faq_according">
              <div class="accordion" id="accordionExample2">
                <div class="card">
                  <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Contrary to
                        popular belief, Lorem Ipsum is not simply</button>
                    </h2>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                    data-parent="#accordionExample2">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header active" id="headingEight">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">There are many
                        variations of passages of Lorem</button>
                    </h2>
                  </div>
                  <div id="collapseEight" class="collapse show" aria-labelledby="headingEight"
                    data-parent="#accordionExample2">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingNine">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Model sentence
                        structures, to generate</button>
                    </h2>
                  </div>
                  <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                    data-parent="#accordionExample2">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTen">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">Finibus Bonorum et
                        Malorum by Cicero are also</button>
                    </h2>
                  </div>
                  <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample2">
                    <div class="card-body">
                      <p class="mb30">Occupying over 8,000 square feet, perched over 1,100 feet in the air with
                        absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding
                        tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the
                        most sought-after design houses in London and represents an utterly unique opportunity to own a
                        globally significant property.</p>
                      <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2
                        powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's
                        kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest
                        corner of the floor.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Footer -->
  <%- include('./includes/footers.ejs') %>