<%- include('./includes/headers.ejs') %>

  <!-- Inner Page Breadcrumb -->
  <section class="inner_page_breadcrumb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="breadcrumb_content">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Gallery</li>
            </ol>
            <h1 class="breadcrumb_title">Gallery</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Text Content -->
  <section class="about-section pb70">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="gallery_item">
            <img class="img-fluid img-circle-rounded w100" src="images/property/lg1.jpg" alt="lg1.jpg">
            <div class="gallery_overlay"><a class="icon popup-img" href="images/property/lg1.jpg"><span
                  class="flaticon-photo-camera"></span></a></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="gallery_item">
            <img class="img-fluid img-circle-rounded w100" src="images/property/lg2.jpg" alt="lg2.jpg">
            <div class="gallery_overlay"><a class="icon popup-img" href="images/property/lg2.jpg"><span
                  class="flaticon-photo-camera"></span></a></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="gallery_item">
            <img class="img-fluid img-circle-rounded w100" src="images/property/lg3.jpg" alt="lg3.jpg">
            <div class="gallery_overlay"><a class="icon popup-img" href="images/property/lg3.jpg"><span
                  class="flaticon-photo-camera"></span></a></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="gallery_item">
            <img class="img-fluid img-circle-rounded w100" src="images/property/lg4.jpg" alt="lg4.jpg">
            <div class="gallery_overlay"><a class="icon popup-img" href="images/property/lg4.jpg"><span
                  class="flaticon-photo-camera"></span></a></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="gallery_item">
            <img class="img-fluid img-circle-rounded w100" src="images/property/lg5.jpg" alt="lg5.jpg">
            <div class="gallery_overlay"><a class="icon popup-img" href="images/property/lg5.jpg"><span
                  class="flaticon-photo-camera"></span></a></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="gallery_item">
            <img class="img-fluid img-circle-rounded w100" src="images/property/lg6.jpg" alt="lg6.jpg">
            <div class="gallery_overlay"><a class="icon popup-img" href="images/property/lg6.jpg"><span
                  class="flaticon-photo-camera"></span></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Footer -->
  <%- include('./includes/footers.ejs') %>