<%- include('./includes/headers.ejs') %>

  <!-- Shop Single Content -->
  <section class="shop-single-content bgc-alice-blue">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="single_product_grid">
            <div class="sps_content">
              <div class="thumb">
                <img class="img-fluid" src="images/shop/shop-single.png" alt="shop-single.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="shop_single_product_details">
            <h2 class="title mb20">Urban Bags - KeySmart - Premium Key Holders</h2>
            <p class="mb30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus nulla faucibus viverra nisl
              non senectus tortor. Suspendisse pellentesque elementum proin diam.</p>
            <p class="mb10">Total price:</p>
            <div class="sspd_price mb35">$415.99 <small><del>$959</del></small></div>
            <ul class="cart_btns ui_kit_button mb30">
              <li class="list-inline-item"><span class="heading-color">Quantity</span></li>
              <li class="list-inline-item"><input placeholder="4" type="number"></li>
              <li class="list-inline-item"><span class="fa fa-check-circle text-thm ml10 mr5 fz18"></span> 432 in stock
              </li>
            </ul>
            <ul class="cart_btns ui_kit_button mb30">
              <li class="list-inline-item"><button type="button" class="btn"><span
                    class="flaticon-shopping-bag mr5 fz20"></span> Add to Cart</button></li>
              <li class="list-inline-item">
                <div class="favorite_icon"><span class="fa fa-heart-o"></span></div>
              </li>
            </ul>
            <ul class="sspd_sku mb30">
              <li><a href="#">SKU:</a><span class="ml80">RTA-0058 </span></li>
              <li><a href="#">Category:</a><span class="ml47">Book</span></li>
              <li><a href="#">Tags:</a><span class="ml80">business / seo</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="shop_single_tab_content mt30 mb30">
            <div class="product_single_content">
              <div class="mbp_pagination_comments">
                <div class="mbp_first">
                  <div class="media-body">
                    <h5 class="mb20 fz16 mt5">Details</h5>
                    <p class="mb25">Duis mattis laoreet neque, et ornare neque sollicitudin at. Proin sagittis dolor sed
                      mi elementum pretium. Donec et justo ante. Vivamus egestas sodales est, eu rhoncus urna semper eu.
                      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer
                      tristique elit lobortis purus bibendum, quis dictum metus mattis. Phasellus posuere felis sed eros
                      porttitor mattis. Curabitur massa magna, tempor in blandit id, porta in ligula. Aliquam laoreet
                      nisl massa, at interdum mauris sollicitudin et.</p>
                    <p class="mt10 mb50">Duis mattis laoreet neque, et ornare neque sollicitudin at. Proin sagittis
                      dolor sed mi elementum pretium. Donec et justo ante. Vivamus egestas sodales est, eu rhoncus urna
                      semper eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                      Integer tristique elit lobortis purus bibendum, quis dictum metus mattis. Phasellus posuere felis
                      sed eros porttitor mattis. Curabitur massa magna, tempor in blandit id, porta in ligula. Aliquam
                      laoreet nisl massa, at interdum mauris sollicitudin et.</p>
                    <div class="ui_page_heading">
                      <h4 class="mb15">Material and care</h4>
                      <ul class="order_list list-style-type-bullet list-inline-item">
                        <li><a href="#">Main: 100% Cotton</a></li>
                        <li><a href="#">Soft twill</a></li>
                        <li><a href="#">Ribbed, diagonal pattern</a></li>
                      </ul>
                      <ul class="order_list list-style-type-bullet list-inline-item ml50 ml0-md">
                        <li><a href="#">One size fits all</a></li>
                        <li><a href="#">Imported</a></li>
                        <li><a href="#">Product color: Dark greenish</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="shop_single_tab_content mb30-991">
            <div class="product_single_content">
              <div class="mbp_pagination_comments">
                <div class="mbp_first mb50">
                  <img src="images/blog/reviewer1.png" class="mr-3" alt="reviewer1.png">
                  <div class="media-body mt15">
                    <h4 class="sub_title mt-0">Jane Cooper</h4>
                    <div class="sspd_postdate mb15">April 6, 2021 at 3:21 AM
                      <div class="sspd_review pull-right">
                        <ul class="mb0 pl15">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item">(5 reviews)</li>
                        </ul>
                      </div>
                    </div>
                    <p class="mt10">Every single thing we tried with John was delicious! Found some awesome places we
                      would definitely go back to on our trip. John was also super friendly and passionate about
                      Beşiktaş and Istanbul.</p>
                  </div>
                </div>
                <div class="mbp_first">
                  <img src="images/blog/reviewer2.png" class="mr-3" alt="reviewer2.png">
                  <div class="media-body mt15">
                    <h4 class="sub_title mt-0">Bessie Cooper</h4>
                    <div class="sspd_postdate mb30">April 6, 2021 at 3:21 AM
                      <div class="sspd_review pull-right">
                        <ul class="mb0 pl15">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item">(5 reviews)</li>
                        </ul>
                      </div>
                    </div>
                    <p class="mt10">Every single thing we tried with John was delicious! Found some awesome places we
                      would definitely go back to on our trip. John was also super friendly and passionate about
                      Beşiktaş and Istanbul.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="shop_single_tab_content">
            <div class="bsp_reveiw_wrt">
              <h4>Write a Review</h4>
              <div class="sspd_postdate mb30"><span class="float-left mr50">Your Rating</span>
                <div class="sspd_review">
                  <ul class="mb0 pl15">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                  </ul>
                </div>
              </div>
              <form class="comments_form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" rows="6" placeholder="Enter Your Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-thm">send your review</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Shopping Product -->
  <section class="our-shop pb70">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="main-title text-center">
            <h2>Related Products</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="shop_grid">
            <div class="thumb">
              <img class="img-fluid" src="images/shop/1.png" alt="1.png">
            </div>
            <div class="details">
              <div class="price_content">
                <h5 class="item-tile">Album</h5>
                <p class="price">$21.99</p>
              </div>
              <button class="btn btn-block add_to_cart"><span class="flaticon-shopping-bag"></span> Add to cart</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="shop_grid">
            <div class="thumb">
              <img class="img-fluid" src="images/shop/3.png" alt="3.png">
            </div>
            <div class="details">
              <div class="price_content">
                <h5 class="item-tile">Beanie</h5>
                <p class="price">$21.99</p>
              </div>
              <button class="btn btn-block add_to_cart"><span class="flaticon-shopping-bag"></span> Add to cart</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="shop_grid">
            <div class="thumb">
              <img class="img-fluid" src="images/shop/2.png" alt="2.png">
            </div>
            <div class="details">
              <div class="price_content">
                <h5 class="item-tile">Beanie with Logo</h5>
                <p class="price">$21.99</p>
              </div>
              <button class="btn btn-block add_to_cart"><span class="flaticon-shopping-bag"></span> Add to cart</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="shop_grid">
            <div class="thumb">
              <img class="img-fluid" src="images/shop/4.png" alt="4.png">
            </div>
            <div class="details">
              <div class="price_content">
                <h5 class="item-tile">Belt</h5>
                <p class="price">$21.99</p>
              </div>
              <button class="btn btn-block add_to_cart"><span class="flaticon-shopping-bag"></span> Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Footer -->
  <%- include('./includes/footers.ejs') %>