<%- include('./includes/headers.ejs') %>
  <!-- Shop Checkouts Content -->
  <section class="shop-checkouts shop-order bgc-alice-blue">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="order_complete_message text-center">
            <div class="icon bgc-thm"><span class="fa fa-check text-white"></span></div>
            <h2>Your Order Is Completed !</h2>
            <p>Thank you. Your order has been received.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
          <div class="shop_order_box mt40">
            <div class="order_list_raw">
              <ul>
                <li class="list-inline-item">
                  <p>Order Number</p>
                  <h5>13119</h5>
                </li>
                <li class="list-inline-item">
                  <p>Date</p>
                  <h5>27/07/2021</h5>
                </li>
                <li class="list-inline-item">
                  <p>Total</p>
                  <h5>$40.10</h5>
                </li>
                <li class="list-inline-item">
                  <p>Payment Method</p>
                  <h5>Direct Bank Transfer</h5>
                </li>
              </ul>
            </div>
            <div class="order_details">
              <h4 class="title mb40">Order Details</h4>
              <div class="od_content">
                <ul>
                  <li class="subtitle style2 bb1 mb20 pb15">
                    <p>Product <span class="float-right">Subtotal</span></p>
                  </li>
                  <li class="mt20">
                    <p>Hoodie x2 <span class="float-right">$59.00</span></p>
                  </li>
                  <li>
                    <p>Seo Books x 1 <span class="float-right">$67.00</span></p>
                  </li>
                  <li class="subtitle style2 bb1 mb15 mt20">
                    <p>Subtotal <span class="float-right">$178.00</span></p>
                  </li>
                  <li class="subtitle style2 bb1 mb20">
                    <p>Shipping <span class="float-right totals color-orose">$178.00</span></p>
                  </li>
                  <li class="subtitle style2">
                    <p>Total <span class="float-right totals color-orose">$9,218.00</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Footer -->
  <%- include('./includes/footers.ejs') %>